@font-face {
    font-family: 'Billabong';
    src: url('../fonts/Billabong.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('Billabong.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
/*@font-face {
    font-family: 'Freight';
    src: url('../fonts/freight-sans-bold.woff') format('woff') font-weight-bold,
    src: url('../fonts/freight-sans-light.woff') format('woff') font-weight-lighter,
    src: url('../fonts/freight-sans-book.woff') format('woff') font-weight-normal,
; /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}*/

@font-face {
    font-family: 'Freight';
    src: url('../fonts/freight-sans-book.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Freight';
    src: url('../fonts/freight-sans-bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Freight';
    src: url('../fonts/freight-sans-light.woff') format('woff');
    font-style: normal;
    font-weight: 200;
}
body {
    margin: 0;
    font-family: 'Freight', sans-serif;
    display: grid;
    background-color: #fafafa;
    color: #262626;
}
.header {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,0.33fr);
    grid-auto-rows: 52px;
    align-items: center;
    background-color: #fff;
    color: #262626;
    border-bottom: 2px #dbdbdb solid;
}
.logo {
    text-align: center;
    font-family: 'Billabong';
    font-size: 30px;
}
.search {
    position: relative;
    display: none;
}
.search:before{
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 14px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill:rgba(0, 0, 0, 1);transform:;-ms-filter:'%3E%3Cpath d='M10,18c1.846,0,3.543-0.635,4.897-1.688l4.396,4.396l1.414-1.414l-4.396-4.396C17.365,13.543,18,11.846,18,10 c0-4.411-3.589-8-8-8s-8,3.589-8,8S5.589,18,10,18z M10,4c3.309,0,6,2.691,6,6s-2.691,6-6,6s-6-2.691-6-6S6.691,4,10,4z'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}
input {
    padding: 5px 30px;
    background-color: #FAFAFA;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
}
.actions {
    grid-column: 2 / -1;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 30px;
}

.user {
    margin: 70px 16px 16px 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.user-photo {
    display: flex;

}
.user-photo-img {
    width: 77px;
    border-radius: 50%;
}
.user-description{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    justify-content: space-between;
    flex-grow: 1;
}
.user-description p {
    font-family: 'Freight', sans-serif;
    font-weight: 200;
    display: flex;
    align-items: center;
    font-size: 29px;
    margin: unset;
    color: #545454;
}
.user-description span {
    font-size: 14px;
    color: #545454;
}
.user-description button {
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    color: #545454;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Freight', sans-serif;
}
.user-name {
    font-weight: 600;
    margin-bottom: 10px;
}
.stories {
    display:grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    margin-top: 11px;
    border-bottom: 2px #dbdbdb solid;
}
.storie img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}
.storie p {
    text-align: center;
    font-weight: 200;
    margin-top: 7px;
    margin-bottom: 25px;
    font-size: 14px;
}
.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 48px;
    border-bottom: 2px #dbdbdb solid;
    padding-top: 11px;
    font-weight: 600;
}
.stats p {
    margin-top: 5px;
    font-weight: 400;
    color: #8e8e8e;
}
.publications {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.publications figure {
    margin: unset;
    padding: 6px 0px 6px 0px;
    width: 30px;
}

.post-list {
    grid-area: "post-list";
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    grid-auto-rows: .6666fr;
    grid-gap: 3px;
}

.post {
    cursor: pointer;
    position: relative;
    display: block;
    overflow: hidden;
}

.post-image {
    margin: 0;
    height: 100%;
    width: 100%;
}

.post-image img {
    width: 100%;
    vertical-align: top;
    height: 100%;
    object-fit: cover;
}

.post-overlay {
    background: rgba(0, 0, 0, .4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.post:hover .post-overlay {
    display: flex;
}

.post-likes,
.post-comments {
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

@media screen and (min-width: 736px) {
    .post-list {
        grid-gap: 28px;
    }

}
